<h1>welcome to Bookers!!</h1>
<h4>In Bookers</h4><br />
<h4>you can share and exchange your opinions , inpressions , and emotions</h4><br />
<h4>about various books!</h4>

<%= link_to "Log in", new_user_session_path %>
<%= link_to "Sign up", new_user_registration_path %>