    <div class="container">
    <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

    <h1>welcome to
     <strong><i class="fas fa-book"></i>Bookers</strong>  !!
    </h1>
    <p>In <i class="fas fa-book"></i><strong>Bookers</strong></p><br />
    <p>you can share and exchange your opinions , inpressions , and emotions</p><br />
    <p>about various books!</p>

    <div class="btn-wrapper">
      <div class="row">
      </div>
  <div class="btn-wrapper col-10 mx-auto">
      <div class="row">
      <p><a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a></p>
    </div>
      <div class="row">
      <p><a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign Up</a></p>
     </div>
   </div>
 </div>
 </div>
 </div>
 </div>